<html>
<head>
	<title>Rock Paper Scissors Lizard Spock</title>
  <link rel="stylesheet" type="text/css" href="/styles/styles.css">
</head>
<body>

	<h1>Cool Kid's Game</h1>

	<div class='choices'>
		<img src='/images/rock2.png' data-pick='Rock'>
		<img src='/images/paper2.png' data-pick='Paper'>
		<img src='/images/scissors2.png' data-pick='Scissors'>
		<img src='/images/lizard2.png' data-pick='Lizard'>
		<img src='/images/spock2.png' data-pick='Spock'>
	</div>
	<ul id='results'></ul>
	<script src='/js/lib/RockPaperScissors.js'></script>
	<script src='http://code.jquery.com/jquery-2.1.1.min.js'></script>
  <script src='/js/lib/announcement.js'></script>
</body>
</html>